<% @product.each do |product| %>
  <div class="link row clearfix">
    <h2>
      <%= link_to product.name, product %><br>
      <small class="author">Submitted <%= time_ago_in_words(link.created_at) %>
        by <%= product.user.email %></small>
    </h2>

          <div clas="btn-group">
        <a class="btn btn-default btn-sm" href="<%= product.link %>">Visit Link</a>
 
          <%= link_to like_product_path(product), method: :put, class: "btn btn-default btn-sm" do %>
           <span class="glyhicon glyphicon-chevron-up"></span>
           Upvote
          <%= product.get_upvotes.size %>
          <% end %>

         <%= link_to dislike_product_path(product), method: :put, class: "btn btn-default btn-sm" do %>
         <span class="glyhicon glyphicon-chevron-up"></span>
         Downvote
        <%= product.get_downvotes.size %>
        <% end %>
      </div>
  </div>
<% end %>






