<div class="page-header">
  <h1><a href="<%= @product.name %>"><%= @product.link %></a><br>
    <p><%= @product.tagline %></p>
    <p><%= @product.platform %></p>
  <small>Submitted by <%= @product.user %></small></h1>
</div>

<div class="btn-group">
  <%= link_to "Visit URL", @product.link, class: "btn btn-primary" %>
</div>

<% if @product.user == current_user %>
  <div class="btn-group">
      <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-default" %> |
      <%= link_to 'Destroy', @product, method: :delete, data: { confirm 'Are you sure' }, class: "btn btn-default" %>
  </div>
<% end %>

<div clas="btn-group pull right">
    <%= link_to like_product_path(@product), method: :put, class: "btn btn-default btn-sm" do %>
      <span class="glyhicon glyphicon-chevron-up"></span>
           Upvote
    <%= @product.get_upvotes.size %>
<% end %>

    <%= link_to dislike_product_path(@product), method: :put, class: "btn btn-default btn-sm" do %>
         <span class="glyhicon glyphicon-chevron-up"></span>
         Downvote
        <%= @product.get_downvotes.size %>
        <% end %>
      </div>

<h3 class="comments_title">
  <%= @product.comments.count %> Comments
</h3>

<div id="comments">
  <%= render :partial => @link.comments %>
</div>

<%= simple_form_for [@product, Comment.new] do |f| %>
  <div class="field">
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <br>
  <%= f.submit "Add Comment", class: "btn btn-primary" %>
<% end %>
