<div class="page-header">
  <h1><a href="<%= @product.name %>"><%= @product.link %></a><br>
    <p><%= @product.tagline %></p>
    <p><%= @product.platform %></p>
  <small>Submitted by <%= @product.user %></small></h1>
</div>

<div class="btn-group">
  <%= link_to "Visit URL", @product.link, class: "btn btn-primary" %>
</div>

<% if @product.user == current_user %>
  <div class="btn-group">
      <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-default" %> |
      <%= link_to 'Destroy', @product, method: :delete, data: { confirm 'Are you sure' }, class: "btn btn-default" %>
  </div>
<% end %>

<div clas="btn-group pull right">
    <%= link_to like_product_path(@product), method: :put, class: "btn btn-default btn-sm" do %>
      <span class="glyhicon glyphicon-chevron-up"></span>
           Upvote
    <%= @product.get_upvotes.size %>
<% end %>

    <%= link_to dislike_product_path(@product), method: :put, class: "btn btn-default btn-sm" do %>
         <span class="glyhicon glyphicon-chevron-up"></span>
         Downvote
        <%= @product.get_downvotes.size %>
        <% end %>
      </div>
